//main: ../main.scss

// -----------------------------------------------------------------------------------
// This file contains all styles related to the dashboard-tab of the site/application.
// -----------------------------------------------------------------------------------

.dashboard-tab {
  position: fixed;
  top: 80px;
  right: initial;
  bottom: 0;
  left: 0;
  z-index: 5;
  
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 260px;
  height: 100%;
  max-height: calc(100% - 80px);
  padding: 10px 0;
  overflow: hidden;

  background: url('../assets/images/bg-dashboard-sidebar.png') no-repeat top right;
  background-size: cover;

  .tabs {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
    min-height: initial;
  }

  .tab-item {
    display: flex;
    margin-top: 15px;

    &:last-of-type {
      margin-bottom: 40px;
    }

    &.active {
      .tab-link {
        color: $yellow;

        .tab-icon {
          path,
          rect,
          polygon,
          circle,
          text {
            fill: $yellow;
            stroke: $yellow;
          }

          circle ~ circle {
            fill: $brand-color;
          }
        } 
      }
    }
  }

  .tab-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 10px 0 17px;
    
    color: $white;

    transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);

    .tab-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;      

      background: url('../assets/images/icon-leaf.png') no-repeat center;
      background-size: contain;
      
      path,
      rect,
      polygon,
      circle,
      text {
        fill: $white;
        color: $white;
        stroke: $white;

        transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
      }

      circle ~ circle {
        fill: $brand-color;
      }

      svg {
        position: relative;
        bottom: -3px;

        width: 28px;
        height: 28px;
      }
    }

    .tab-text {
      margin-left: 8px;
      
      // font-size: 15px;
      font: normal 15px $montserrat-semi-bold;
      line-height: 1.4;
    }

    @include on-event() {
      color: $emperor;
      text-decoration: none;

      .tab-icon {
        path,
        rect,
        polygon,
        circle,
        text {
          fill: $emperor;
          color: $emperor;
          stroke: $emperor;
        }

        circle ~ circle {
          fill: $brand-color;
        }
      }
    }
  }

  .sidebar-toggler {
    position: absolute;
    top: initial;
    right: -120px;
    bottom: 10px;
    left: initial;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    
    font-size: 35px;

    // use this for background with transition
    // &:before {
      
    // }

    i {
      width: 35px;
      text-align: center;
      height: 35px;
      border-radius: 50%;
      background: red;
      position: relative;
      left: -20px;
      font-size: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1px;
    }

    .text-toggle {
      // position: absolute;
      // make this like a tooltip
      margin-left: 5px;

      font-size: 14px;
    }

    @include on-event() {
      right: 0;

      width: 170px;

      text-decoration: none;

      background-color: green;
    }
  }
}
