//main: ../main.scss

// ---------------------------------------------------------------------------------------
// This file contains all styles related to the dashboard-content of the site/application.
// ---------------------------------------------------------------------------------------

.dashboard-content {
  width: calc(100% - 20px);

  margin-top: 20px;
  padding-bottom: 100px;
  padding-left: 280px;

  font-size: 14px;
  color: $emperor;

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
  }

  .form-control {
    @include on-event() {
      box-shadow: none;
      outline: none;
    }
  }

  .tab-content {
    position: relative;

    // display: flex;
    // flex-direction: column;
    // height: calc(100vh - 80px - 20px - 100px);
    // min-height: 605px;
    // padding: 30px 20px 15px;

    // background-color: $white;
    // border-radius: 5px;
    // box-shadow: 0 10px 40px $black-opacity40;
  }

  .tab-pane-holder {
    position: relative;

    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px - 20px - 100px);
    min-height: 605px;
    padding: 30px 20px 15px;

    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 10px 40px $black-opacity40;

    & + .tab-pane-holder {
      margin-top: 25px;
    }
  }

  .cards-holder {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-width: 1000px;
    max-width: 1600px;
    min-height: initial;
    height: auto;
    padding: 0;

    background: transparent;
    box-shadow: none;
    
    .card {
      width: 100%;
      min-width: 350px;
      
      border-radius: 10px;
      border: none;

      & + .card {
        margin-left: 25px;
      }

      &-red {
        background: #fe393e;
        background: -moz-linear-gradient(top, #fe393e 0%, #fe393e 7%, #fe594a 33%, #fe7655 74%, #fe905d 100%);
        background: -webkit-linear-gradient(top, #fe393e 0%,#fe393e 7%,#fe594a 33%,#fe7655 74%,#fe905d 100%);
        background: linear-gradient(to bottom, #fe393e 0%,#fe393e 7%,#fe594a 33%,#fe7655 74%,#fe905d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe393e', endColorstr='#fe905d',GradientType=0 );
      }

      &-purple {
        background: #825afb;
        background: -moz-linear-gradient(top, #825afb 0%, #875dfb 7%, #9363fb 37%, #a970fc 64%, #c983fc 100%);
        background: -webkit-linear-gradient(top, #825afb 0%,#875dfb 7%,#9363fb 37%,#a970fc 64%,#c983fc 100%);
        background: linear-gradient(to bottom, #825afb 0%,#875dfb 7%,#9363fb 37%,#a970fc 64%,#c983fc 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#825afb', endColorstr='#c983fc',GradientType=0 );
      }

      &-blue {
        background: #03c9b8;
        background: -moz-linear-gradient(top, #03c9b8 0%, #08ccbb 20%, #1ed9c9 51%, #2de2d2 80%, #4cf4e5 100%);
        background: -webkit-linear-gradient(top, #03c9b8 0%,#08ccbb 20%,#1ed9c9 51%,#2de2d2 80%,#4cf4e5 100%);
        background: linear-gradient(to bottom, #03c9b8 0%,#08ccbb 20%,#1ed9c9 51%,#2de2d2 80%,#4cf4e5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03c9b8', endColorstr='#4cf4e5',GradientType=0 );
      }
    }

    .card-content {
      padding: 10px 25px 5px;
    }

    .number {
      margin: 0;

      font: normal 100px $montserrat-extra-bold;
      line-height: 90px;
      color: $white;
    }

    .text-label {
      margin: 0;

      font: normal 20px $montserrat-medium;
      line-height: 1.4;
      color: $white;
    }

    .card-update {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 25px 15px;

      border-top: 1px solid $white;
    }

    i {
      font-size: 20px;
      color: $black-pearl;
    }

    .text-update,
    .time {
      margin: 0;
      
      font: normal 14px $montserrat-medium;
      line-height: 1.4;
      color: $white;
    }

    .text-update {
      margin: 0 5px;
    }
  }
  
  .search {
    position: absolute;
    top: 30px;
    right: 25px;
    bottom: initial;
    left: initial;
    z-index: 10;

    &-holder {
      position: relative;

      width: 300px;
    }

    &-icon {
      position: absolute;
      top: 0;
      right: initial;
      bottom: 0;
      left: 0;

      display: flex;
      align-items: center;
      width: 36px;
      height: 100%;

      font-size: 18px;
      color: $hippie-green;

      &:before {
        right: 0;
        left: 0;

        margin: auto auto auto 12px;
      }
    }

    &-button {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background: transparent;
      border: 0;
      
      cursor: pointer;
      appearance: none;

      @include on-event() {
        outline: none;
        box-shadow: none;
      }
    }

    &-input {
      width: 100%;
      max-width: 100%;
      padding: 4px 12px 4px 37px;
      display: flex;
      align-items: center;
      height: 40px;

      font: normal 15px $montserrat-medium;
      color: $trout;

      border: 2px solid $olivine;
      border-radius: 3px;

      transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);

      @include placeholder() {
        color: $olivine;
      }

      &:focus {
        box-shadow: 0 2px 20px $black-opacity20;
      }
    }
  }

  .tab-header {
    padding-bottom: 20px;

    .tab-title {
      font: normal 28px $bebas-regular;
      line-height: 1.4;
      color: $hippie-green;
      text-transform: uppercase;
    }
  }

  .tab-body {
    height: 100%;
    min-height: 460px;
    max-height: calc(100vh - 355px);
    overflow: auto;
  }

  tbody {
    tr {
      border-top: 1px solid $desert-storm;

      transition: all .2s ease-in-out;

      &:hover {
        background-color: $light-gray;
      }
    }
  }

  td {
    padding: 5px;

    font: normal 15px $montserrat-medium;
  }

  .table-custom {
    width: 100%;
    min-width: 1000px;
    overflow: auto;

    .table-heading {
      padding: 0 5px 8px;

      font: normal 15.5px $montserrat-bold;
      color: $hippie-green;

      &:first-child {
        width: 50px;
      }
    }
    
    .filter-item {
      position: relative;

      cursor: pointer;

      &:not(:first-child) {
        &:after {
          content: '';

          position: relative;
          top: -1px;
          right: -6px;
          bottom: 0;
          left: initial;

          display: inline-block;
          vertical-align: middle;
          width: 10px;
          height: 13px;

          background: url('../assets/images/icon-filter.png') no-repeat center;
          background-size: contain;
        }
      }
    }

    .btn-table {
      margin: auto;

      .icon-btn {
        margin-top: 1px;
        margin-right: 3px;
        width: 14px;
      }
    }
  }

  .pagination {
    margin-top: auto;

    &-entries {
      display: flex;
      align-items: center;

      .entries {
        margin: 0 10px;
      }

      .entries-select {
        display: flex;
        width: 55px;
        padding: 0 5px 0 12px;
        height: 27px;

        font: normal 14px $montserrat-semi-bold;
        color: $emperor;
        
        background: url('../assets/images/icon-filter.png') no-repeat 34px 5px;
        background-size: 8px;
        border: 1px solid $hippie-green;
        border-radius: 3px;

        appearance: none;
        outline: none;
      }
    }

    &-text {
      font: normal 14px $montserrat-semi-bold;
      line-height: 1.4;
      color: $hippie-green;
    }

    &-pages {
      margin-left: auto;

      .page-list {
        display: flex;
        align-items: center;
        margin: 0;
      }

      .page-link {
        padding: 10px;

        font: normal 14px $montserrat-semi-bold;
        line-height: 1.4;
        color: $emperor;
        text-decoration: none;

        background: transparent;
        border: none;

        outline: none;
        box-shadow: none;

        &.active {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 28px;
          height: 28px;
          padding: 0;

          color: $white;

          background-color: $pine-glade;
          border-radius: 50px;
        }
      }

      .page-first {
        margin-right: 20px;

        color: $hippie-green;
      }

      .page-last {
        margin-left: 20px;
        
        color: $hippie-green;
      }
    }
  }

  .tab-footer {
    position: absolute;
    top: initial;
    right: 0;
    bottom: -100px;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: auto;

    pointer-events: none;

    .holder-image {
      width: 70px;
    }

    &-image {
      width: 100%;
    }

    &-text {
      margin: 5px 0 10px;

      font: normal 12px $montserrat-semi-bold;
      color: $hippie-green;
    }
  }

  .tab-dashboard {
    .tab-body {
      max-height: calc(100vh - 270px);
    }
  }

  .tab-request {
    .tab-body tbody {
      td:nth-last-child(4),
      td:nth-last-child(3),
      td:nth-last-child(2),
      td:nth-last-child(1) {
        width: 105px;
      }
    }
  }

  .tab-list {
    .tab-body tbody {
      td:nth-child(2) {
        word-break: break-word;
      }
      td:nth-child(4) {
        word-break: break-all;
      }
      td:nth-last-child(4) {
        width: 130px;
      }
      td:nth-last-child(3),
      td:nth-last-child(2),
      td:nth-last-child(1) {
        width: 105px;
      }
    }
  }

  .tab-pending {
    .tab-body tbody {
      td:nth-last-child(3),
      td:nth-last-child(2),
      td:nth-last-child(1) {
        width: 150px;
      }
    }
  }

  .tab-blocked {
    .tab-body tbody {
      td:nth-last-child(2),
      td:nth-last-child(1) {
        width: 105px;
      }
    }
  }

  // .tab-sitemap {
  //   height: auto;
  // }

  .tab-product {
    .tab-body tbody {
      td:nth-child(1) {
        width: 60px;
      }
      
      td:nth-child(2) {
        width: 170px;
      }

      td:nth-child(3) {
        min-width: 220px;
      }

      td:nth-child(4) {
        width: 170px;
        padding-left: 70px;
      }

      td:nth-child(5) {
        width: 170px;
      }

      td:nth-last-child(2),
      td:nth-last-child(1) {
        width: 105px;
      }
    }
  }

  .tab-rent {
    .tab-title {
      position: relative;
      
      padding-left: 60px;

      &-icon {
        position: absolute;
        top: -4px;
        right: initial;
        bottom: initial;
        left: 0;

        width: 50px;
      }
    }

    .table-custom {
      min-width: 840px;
      padding: 0 20px;
    }

    .form-holder {
      display: flex;
    }

    .form-title {
      font: normal 18px $montserrat-black;
      line-height: 1.4;
      text-align: center;
      text-transform: uppercase;
      color: $apple2;
    }

    .form-label {
      font: normal 16px $montserrat-bold;
      line-height: 1.4;
      color: $apple2;
    }
  
    .form-column {
      width: 50%;
      max-width: 27vw;
      min-width: 320px;
      margin: auto;
    }

    .form-group {
      margin: 5px 0 20px;
    }

    .form-price {
      height: 45px;

      font: normal 16px $montserrat-medium;
      line-height: 1.4;
      
      border: 2px solid $apple2;

      @include placeholder() {
        font: normal 16px $montserrat-medium;
        line-height: 1.4;
      }
    }
  
    .form-button {
      margin-top: 5px;
    }

    .btn-table {
      max-width: 120px;
    }
  }

  @media (max-width: 1400px) {
    .cards-holder {
      min-width: initial;

      .card {
        min-width: 200px;
      }

      .card-content {
        padding: 10px 20px 5px;
      }

      .number {
        font-size: 70px;
        line-height: 70px;
      }

      .text-label {
        font-size: 18px;
      }

      .card-update {
        padding: 10px 20px 15px;
      }
    }
  }

  @include respond-to(lg-down) {
    .cards-holder {
      .card-content {
        padding: 10px 15px 5px;
      }

      .card-update {
        padding: 10px 15px 15px;
      }

      .number {
        font-size: 60px;
        line-height: 60px;
      }

      .text-label {
        font-size: 16px;
      }
    }
  }

  // @include respond-to() {

  // }
}
