//main: ../main.scss

// ---------------------------------------------------------------------------------------
// This file contains all styles related to the dashboard-content of the site/application.
// ---------------------------------------------------------------------------------------

.dashboard-content {
  width: calc(100% - 20px);

  margin-top: 20px;
  padding-left: 300px;
}
