//main: ../main.scss

// -----------------------------------------------------------------------------------
// This file contains all styles related to the dashboard-tab of the site/application.
// -----------------------------------------------------------------------------------

.dashboard-tab {
  position: absolute;
  top: 80px;
  right: initial;
  bottom: 0;
  left: 0;
  
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 260px;
  // height: calc(100vh - 80px);
  // min-height: 725px;
  padding: 10px 0;
  overflow-y: auto;

  background: url('../assets/images/bg-dashboard-sidebar.png') no-repeat top right;
  background-size: cover;

  .tabs {
    // min-height: 725px;
    min-height: 725px;
  }

  .tab-item {
    display: flex;
    margin-top: 15px;

    &:last-child {
      margin-bottom: 40px;
    }

    &.active {
      .tab-link {
        color: $yellow;

        .tab-icon {
          path,
          rect,
          polygon,
          circle,
          text {
            fill: $yellow;
            stroke: $yellow;
          }

          circle ~ circle {
            fill: $brand-color;
          }
        } 
      }
    }
  }

  .tab-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    // padding: 0 15px;
    padding: 0 20px;
    
    color: $white;

    transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);

    .tab-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;      

      background: url('../assets/images/icon-leaf.png') no-repeat center;
      background-size: contain;
      
      path,
      rect,
      polygon,
      circle,
      text {
        fill: $white;
        color: $white;
        stroke: $white;

        transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
      }

      circle ~ circle {
        fill: $brand-color;
      }

      svg {
        position: relative;
        bottom: -3px;

        width: 28px;
        height: 28px;
      }
    }

    .tab-text {
      margin-left: 8px;
      
      // font-size: 16px;
      font-size: 15px;
    }

    @include on-event() {
      color: $emperor;
      text-decoration: none;

      .tab-icon {
        path,
        rect,
        polygon,
        circle,
        text {
          fill: $emperor;
          color: $emperor;
          stroke: $emperor;
        }

        circle ~ circle {
          fill: $brand-color;
        }
      }
    }
  }
}
