//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the registration page.
// -----------------------------------------------------------------------------


.registration {
  background-image: url(../assets/images/bg-hero-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 25px;
  min-height: 100vh;

  &-success {
    min-height: 100vh;
    background-color: $apple2;

    .container {
      height: inherit;
    }

    .holder-registration {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: calc(100vh - 30px);
    }

    .title {
      margin: 25px 0;
      color: $white;
      font-family: $montserrat-regular;
    }

    .text-copyright {
      margin: 25px 0 0;
      color: $white;
      font-family: $montserrat-regular;
    }

    .holder-box {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 50px 25px;
      width: 100%;
      max-width: 350px;
      height: 350px;
      margin: 0 auto;

      text-align: center;
      background-color: $white;
      // border-radius: 6px;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        border: 12px solid $white;
        border-radius: 3px;
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);

        transition: all .3s ease-in-out;
      }

      &:before {
        transform: rotate(-4deg);
      }

      &:after {
        transform: rotate(4deg);
      }

      &:hover {
        
        &:before,
        &:after {
          box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
        }

        &:before {
          transform: rotate(0);
        }
  
        &:after {
          transform: rotate(0);
        }
      }
    }

    .box-title {
      margin-bottom: 40px;
      font-size: 18px;
      font-family: $montserrat-regular;
      text-transform: uppercase;
    }

    .box-text {
      margin-bottom: 25px;
      font-size: 15px;
      font-family: $montserrat-regular;
    }

    .text-green {
      color: $apple2;
    }
  }

  .title {
    text-align: center;
    color: $white;
    text-transform: uppercase;
    font-family: $montserrat-regular;
  }

  .holder-registration-form {
    margin: 0 auto;
    padding: 25px;
    max-width: 620px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.63);
  }

  .form-title {
    font-size: 28px;
    text-align: center;
    color: $white;
    font-family: $montserrat-regular;
  }

  .form-desc {
    font-size: 14px;
    color: $white;
    font-family: $montserrat-light;
  }

  .form-details {
    padding-bottom: 25px;
    color: $white;
    font-family: $montserrat-regular;

    border-bottom: 1px dotted $white;
  }

  .holder-field {
    padding: 25px 0;
  }

  .form-field-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    
    .text-field {
      width: 35%;
    }

    .text {
      // display: flex;
      // align-items: center;
      margin: 0;
      height: 100%;

      font-size: 16px;
      font-family: $montserrat-light;
      color: $white;
    }
  
    .input-field {
      width: 65%;
    }

    .input {
      width: 100%;
      padding: 8px 10px;
      
      font-size: 16px;
      font-family: $montserrat-light;
      color: $white;
      background-color: transparent;
      border: 1px solid $white;

      &-select {
        max-width: 120px;
      }

      &::-webkit-input-placeholder {
        color: $white;
      }
    }

    .option {
      background-color: $brand-color;
    }

    .holder-field-address {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .field-address {
      width: calc(50% - 3px);
      margin-bottom: 15px;
    }
  } 
  
  .rules-list {
    padding: 15px 0 30px;
    list-style-type: none;
    color: $white;

    .list {
      margin-bottom: 15px;

      font-size: 14px;
      font-family: $montserrat-light;
    }
  }

  .details-title {
    margin: 50px 0 30px;
  }

  .form-checkbox {
    display: flex;
    align-items: center;
    color: $white;
    font-family: $montserrat-regular;
  }

  .span-text {
    padding-left: 8px;

    font-size: 14px;
    font-family: $montserrat-light;
  }

  .btn-submit {
    margin: 0 auto;
    border-radius: 0;
    border: 1px solid #fff;
  }

  @include respond-to(xs) {

    &-success {

      .title {
        font-size: 14px;
      }

      .box-title {
        font-size: 16px;
      }

      .box-text {
        font-size: 14px;
      }

      .text-copyright {
        font-size: 14px;
      }
    }

    .title {
      font-size: 22px;
    }

    .holder-registration-form {
      padding: 15px;
    }

    .form-title {
      font-size: 20px;
    }

    .form-desc {
      font-size: 12px;
      text-align: center;
    }

    .form-details {
      padding-bottom: 15px;
      font-size: 14px;
    }

    .form-field-group {
      .text-field {
        width: 100%;
        margin-bottom: 8px;
      }

      .input-field {
        width: 100%;
      }

      .input {
        font-size: 12px;

        &-select {
          max-width: 100%;
        }
      }

      .input-upload-field input[type="file"] {
        max-width: 100%;
        font-size: 12px;
      }

      .field-address {
        width: 100%;
      }
    }
  }
}