//main: ../main.scss

/**
 * Basic typography style for copy text
 */
 body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

.section-title {
  margin: 0 0 10px;

  font: normal 17px $montserrat-semi-bold;
  letter-spacing: 2.5px;
  line-height: 22.67px;
  color: $brand-color;
  text-align: center;
  text-transform: uppercase;
}

.section-heading {
  margin: 0 0 40px;
  
  font: normal 52px $montserrat-medium;
  letter-spacing: -1px;
  line-height: 65.26px;
  color: $black;
  text-align: center;
}

.section-description {
  margin: 0 0 25px;
  
  font: normal 17px $lora-regular;
  line-height: 30px;
}